In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('../data/recruiting.csv')

In [3]:
df.head()

,id,athleteId,recruitType,year,ranking,name,school,committedTo,position,height,weight,stars,rating,city,stateProvince,country,hometownInfo.latitude,hometownInfo.longitude,hometownInfo.fipsCode
0,92318,NaN,HighSchool,2023,1.0,Arch Manning,Isidore Newman,Texas,QB,76.0,215,5,1.0000,New Orleans,LA,USA,29.949932,-90.070116,22071.0
1,121,NaN,HighSchool,2002,1.0,Vince Young,Madison,Texas,DUAL,77.0,200,5,1.0000,Houston,TX,USA,29.758938,-95.367697,48201.0
2,8266,NaN,HighSchool,2006,4.0,Sergio Kindle,Woodrow Wilson,Texas,ILB,76.0,225,5,0.9980,Dallas,TX,USA,32.776272,-96.796856,48113.0
3,17097,501940.0,HighSchool,2010,5.0,Jackson Jeffcoat,Plano West,Texas,SDE,75.0,230,5,0.9976,Plano,TX,USA,33.013676,-96.692510,48085.0
4,127,NaN,HighSchool,2002,6.0,Rodrique Wright,Alief Hastings,Texas,DT,77.0,330,5,0.9970,Houston,TX,USA,29.758938,-95.367697,48201.0